@media (min-width: 375px) {
    #webdeveloper{
        margin-top: 1%;
    }
    #abit{
        font-size: 1.4rem;
        margin-left: 5%;
        margin-bottom: 2%;
        width: 25%;
    }
    #headline{
        width: 65%;
        margin-top: 4%;
    }
    #skillslinetext{
        font-size: 1.3rem;
        margin-left: 3%;
    }
    #skillsheadline{
        width: 52%;
        margin-top: 4%;
    }
    #projectslinetext{
        font-size: 1.3rem;
        margin-left: 5%;
    }
    #projectsheadline{
        width: 50%;
        margin-top: 4%;
    }
    #contactlinetext{
        font-size: 1.3rem;
        margin-left: 5%;
    }
    #contactheadline{
        width: 56%;
        margin-top: 4%;
    }
}
@media (min-width: 425px) {
    #navbar{
        height: 6rem;
    }
    #webdeveloper{
        font-size: 1.4rem;
    }
    #headline{
        width: 80%;
        margin-top: 3%;
    }
    #skillsheadline{
        width: 60%;
    }
    #contactheadline{
        width: 63%;
    }
    #projectslinetext{
        width: 40%;
        margin-left: 2%;
    }
    #projectsheadline{
        width: 60%;
    }
    .links a{
        font-size: 1.1rem;
        padding: 5%;
        width: 30%;
    }
}
@media (min-width: 525px){
    #name{
        width: 60%;
    }
    #navbar{
        height: 6.5rem;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}
@media (min-width: 768px) {
    #name{
        width: 50%;
        margin-top: 1%;
        margin-left: 1%;
    }
    #webdeveloper{
        margin-left: 2%;
        font-size: 1.5rem;
    }
    #linkedin{
        margin-top: -13%;
        padding: 1%;
    }
    #linkedin img{
        width: 90%;
    }
    .links a{
        padding: 5%;
        margin-left: 1%;
        margin-right: 1%;
        font-size: 2rem;
        font-weight: 600;
    }
    #hello{
        margin: 0;
        font-size: 3rem;
    }
    #greeting{
        flex-direction: row;
        font-size: 1.2rem;
    }
    #greeting > span{
        margin-top: 2%;
    }
    #abit{
        font-size: 1.7rem;
        margin-left: 0%;
    }
    #headline{
        width: 80%;
        margin-top: 2.5%;
    }
    #myphoto{
        width: 50%;
    }
    .aboutinfo{
        font-size: 1.2rem;
    }
    #skillslinetext{
        width: 25%;
        font-size: 1.7rem;
    }
    #skillsheadline{
        width: 70%;
        margin-top: 2.5%;
    }
    #workedwithtext{
        font-size: 1.5rem;
    }
    #projectslinetext{
        width: 27%;
        margin-left: 3%;
        font-size: 1.7rem;
    }
    #projectsheadline{
        width: 69%;
        margin-top: 2.5%;
    }
    #contactlinetext{
        font-size: 1.7rem;
        margin-left: 4%;
    }
    #contactheadline{
        margin-top: 2.5%;
        width: 72%;
    }
}
@media (min-width: 1024px) {
    #name{
        width: 40%;
    }
    #linkedin{
        margin-top: -10%;
        margin-left: 88%;
        width: 10%;
    }
    #webdeveloper{
        margin-top: 0;
    }
    #greeting{
        font-size: 1.5rem;
        margin-top: 5%;
    }
    .links a{
        font-size: 1.4rem;
        padding: 2%;
        width: 15%;
    }
    #abit{
        width: 10%;
        margin-left: 3%;
    }
    #headline{
        margin-top: 2%;
        width: 87%;
    }
    #aboutme{
        display: block;
        margin-top: 1%;
        font-size: 2rem;
    }
    #myphoto{
        margin-top: 7%;
        margin-right: 60%;
        width: 30%;
    }
    #myphototext{
        margin-right: 60%;
        font-size: .8rem;
    }
    #abouttext{
        width: 50%;
        margin-left: 30%;
        font-size: 1.7rem;
        margin-top: -45%;
    }
    .aboutinfo{
        margin-bottom: 5%;
        margin-left: 10%;
        font-size: 1.3rem;
    }
    #skillsheadline{
        width: 100%;
        margin-top: 2%;
    }
    #skillscontainer{
        margin-top: 1%;
    }
    #workedwithtext{
        font-size: 1.5rem;
    }
    #workedwith{
        width: 40%;
        margin-top: 0;
        margin-left: 2%;
        margin-right: 2%;
    }
    .skillsicon{
        height: 6vw;
    }
    .skillstext{
        font-size: 1.2rem;
    }
    #skillscontainer{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .skillsbadge{
        padding: 2%;
        align-items: center;
    }
    #projectslinetext{
        width: 20%;
    }
    #projectsheadline{
        width: 76%;
        margin-top: 2%;
    }
    #projectscontainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: start;
    }
    .projectbadge{
        width: 30%;
        margin-top: 5%;
    }
    #contactheadline{
        margin-top: 2%;
        width: 78%;
    }
}
@media (min-width: 1440px){
    #name{
        margin-top: 1%;
        margin-left: 1%;
        width: 25%;
    }
    #linkedin{
        width: 8%;
        margin-top: -7%;
        margin-left: 90%;
    }
    #about-divider{
        margin-top: 6%;
    }
    #abit{
        width: 7%;
        margin-bottom: 1%;
    }
    #headline{
        width: 89%;
        margin-top: 1.3%;
    }
    #aboutme{
        margin-top: 1%;
        font-size: 2.2rem;
    }
    #abouttext{
        margin-top: -40%;
    }
    #skillslinetext{
        width: 15%;
    }
    #skillsheadline{
        margin-top: 1.5%;
        width: 82%;
    }
    #skillstext{
        font-size: 2.2rem;
    }
    #projects-divider{
        margin-top: 5%;
    }
    #projectslinetext{
        width: 15%;
    }
    #projectsheadline{
        margin-top: 1.5%;
        width: 81%;
    }
    #projectstext{
        font-size: 2.2rem;
    }
    .prjname{
        font-size: 1.4rem;
    }
    #contacttext{
        font-size: 2.2rem;
    }
    #contactlinetext{
        width: 12%;
    }
    #contactheadline{
        width: 83%;
        margin-top: 1.3%;
    }
}
@media (min-width: 1920px){
    #name{
        width: 20%;
        margin-top: .5%;
    }
    #webdeveloper{
        top: 7%;
    }
    #linkedin{
        width: 6%;
        margin-top: -5.5%;
        margin-left: 92%;
    }
    .links{
        margin-top: 6%;
    }
    #abit{
        font-size: 3rem;
        width: 10%;
    }
    #aboutme{
        font-size: 4rem;
    }
    #abouttext{
        margin-top: -40%;
    }
    #headline{
        margin-top: 1.6%;
        width: 90%;
    }
    #skillslinetext{
        font-size: 3rem;
        width: 19%;
    }
    #skillstext{
        display: block;
        font-size: 4rem;
    }
    #skillsheadline{
        width: 79%;
        margin-top: 2%;
    }
    #projectslinetext{
        font-size: 3rem;
        width: 19%;
        margin-left: 2.5%;
    }
    #projectstext{
        display: block;
        font-size: 4rem;
    }
    #projectsheadline{
        width: 77%;
        margin-top: 2%;
    }
    .projectbadge{
        margin-top: 5%;
        width: 20%;
    }
    #projectscontainer{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    #projects-divider{
        margin-top: 5%;
    }
    #contactlinetext{
        font-size: 3rem;
        width: 19%;
        margin-left: 1%;
    }
    #contactheadline{
        margin-top: 1.8%;
        width: 80%;
    }
    #contacttext{
        font-size: 4rem;
    }
    #contact-divider{
        margin-top: 5%;
    }
    .links.contact{
        margin-bottom: 15%;
        margin-top: 5%;
    }
    @media (min-width: 2560px){
        #wrapper{
            width: 70%;
            margin: 0 auto;
        }
    }
}