@media (min-width: 320px){

    html{
        scroll-behavior: smooth;
    }
    *{
        margin: 0;
        padding: 0;
    }
    body{
        font-family: "red hat mono";
        background-color: #f5f5f5;
        color: #034078;
        display: block;
        overflow: auto;
    }
    a{
        text-decoration: none;
        color: #1282a2;

    }
    #navbar{
        font-family: "red hat mono";
        background-color: #034078;
    }
    #navbar{
        width: 100%;
        height: 5rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        -webkit-box-shadow: 0 1px 10px -3px black;
	    -moz-box-shadow: 0 1px 10px -3px black;
	    box-shadow: 0 1px 10px -3px black;
    }
    #name{
        width: 70%;
        height: fit-content;
        margin-top: 3%;
        margin-left: 3%;
        color: #f5f5f5;  
    }
    #linkedin{
        width: 15%;
        margin-left: 83%;
        margin-top: -15%;
    }
    #linkedin img{
        width: 100%;
    }
    #webdeveloper{
        color: #f5f5f5;
        font-size: 1.1rem;
        margin-left: 3%;
        margin-top: 2%;
    }
    .links{
        margin-top: 10%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;

    }
    .links a{
        color: #FFF;
        background-color: #1282a2;
        width: 5rem;
        margin: 3%;
        padding: 1rem 1.5rem;
        box-shadow: 0 4px 0 #034078;
        border-radius: 10px;
    }
    .links a:active{
        box-shadow: 0 4px 0 #f5f5f5;
        background-color: #0f708b;
        border-radius: 10%;
    }
    #greeting{
        font-weight: 800;
        margin: 0 auto;
        margin-top: 10%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        height: 20px;
        width: 50%;
    }
    #hello{
        font-weight: 800;
        font-size: 2rem;
    }
    .typed-cursor{
        top: -50%
    }
    #firsttext{
        font-weight: 700;
        margin: 0 auto;
        margin-top: 10%;
    }
    #headline{
        height: 0;
        width: 80%;
        border: 1px solid #034078;
        margin-top: 3%;
    }
    #abit{
        width: 20%;
        height: 1rem;
        text-align: center;
        margin-left: 2%;
        font-size: 1.1rem;
    }
    #about-divider{
        width: 100%;
        display: flex;
        margin-top: 10%;
        justify-content: space-between;

    }
    #aboutme{
        font-size: 2rem;
        font-weight: 800;
        margin-left: 2%;
    }
    #aboutsection{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    #myphoto{
        width: 75%;
        margin-top: 10%;
        border-radius: 5%;
    }
    #myphototext{
        width: 75%;
        font-size: .8rem;
        font-style: italic;
    }
    #abouttext{
        margin-top: 10%;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        
    }
    .aboutinfo{
        margin-bottom: 5%;
    }
    #skills-divider{
        width: 100%;
        display: flex;
        margin-top: 10%;
        justify-content: space-between;
    }
    #skillslinetext{
        width: 40%;
        text-align: center;
        margin-left: 2%;
    }
    #skillsheadline{
        height: 0;
        width: 70%;
        border: 1px solid #034078;
        margin-top: 3%;
    }
    #skillstext{
        font-size: 2rem;
        font-weight: 800;
        margin-left: 2%;
    }
    #skillscontainer{
        border-radius: 5%;
        margin: 10% auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .skillsbadge{
        width: 20%;
        background-color: #FFF;
        border-radius: 10%;
        padding: 5%;
        margin: 1%;
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);

    }
    .skillstext{
        color: #0f708b;
        font-size: 3.5vw;
        text-align: center;
        margin-top: 10%;
        font-weight: 800;
    }
    .skillsicon{
        height: 15vw;
    }
    #workedwith{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        border-radius: 10%;
        margin: 5%;
    }
    #workedwithtext{
        margin: 5%;
        text-align: center;
        
    }
    .badgecontainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-radius: 10%;
        margin: 2%;
    }
    #projects-divider{
        width: 100%;
        display: flex;
        margin-top: 10%;
        justify-content: space-between;
    }
    #projectsheadline{
        height: 0;
        width: 62%;
        border: 1px solid #034078;
        margin-top: 3%;
    }
    #projectstext{
        font-size: 2rem;
        font-weight: 800;
        margin-left: 2%;

    }
    #projectslinetext{
        width: 40%;
        text-align: center;
        margin-left: 2%;
    }
    .projectbadge{
        width: 90%;
        margin: 4%;
        margin-top: 20%;
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    }
    .prjname{
        text-align: center;
        background-color: #1282a2;
        color: #FFF;
        height: 20%;
        padding: 2%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .projectimage{
        width: 100%;
        height: 200px;
        box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        object-fit: cover;
    }
    .githublogo{
        width: 20%;        
        margin-top: -100%;
        margin-left: 75%;
        padding-bottom: 10%;
        left: 0;
        opacity: 1;
    }
    .prjtext{
        padding: 0 5% 5% 5%;
        margin: 0;
        text-align: center;
    }
    #contact-divider{
        width: 100%;
        display: flex;
        margin-top: 10%;
        justify-content: space-between;

    }
    #contactheadline{
        height: 0;
        width: 65%;
        border: 1px solid #034078;
        margin-top: 3%;
        margin-left: -10%;
    }
    #contactlinetext{
        text-align: center;
        margin-left: 2%;
    }
    #contacttext{
        font-size: 2rem;
        font-weight: 800;
        margin-left: 2%;
    }
    .links.contact{
        margin-bottom: 20%;
    }
}
